*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    font-weight: 600;
    color: #a3a3a3;
}

.app-wrapper{
    height: 100vh;
}

a{
    text-decoration: none;
    color: inherit;
}

.flex-container{
    display: flex;
}

#nav-menu{
    font-size: 0.9rem;
    width: 230px;
    overflow: hidden;
    background-color: black;
    flex-direction: column;
}
#nav-menu .logo img{
    width: 170px;
    padding: 1.5rem;
}
#nav-menu ul, .main-menu li, .current{
    border-left: 6px solid #adff2f;
}
#nav-menu ul, .main-menu li, .current a{
    color: white;
    font-size: 1rem;
}
#nav-menu h2{
    font-size: 14px;
    font-weight: 700;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 20px;
}
#nav-menu ul .main-menu li a img{
    width: 2rem;
    display: inline-block;
    margin-right: 10px;
    margin-left: 15px;
    vertical-align: middle;
}
#nav-menu ul .playlist-menu li .create-item span{
    font-size: 35px;
    background-color: #fff;
    color: #000;
    display: inline-block;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    vertical-align: middle;
    margin-right: 5px;
}
#nav-menu .user-area {
    margin-top: 13rem;
    margin-right: 5rem;
}
#nav-menu .user-area a.install-app img {
    width: 1.5rem;
    display: inline-block;
    margin-right: 1;
    vertical-align: middle;
}
#nav-menu .user-area hr {
    margin: 0.8rem auto;
    border: none;
    border-top: 1px solid #a3a3a3;
    width: 12rem;
}
#nav-menu .user-area a.user-profile {
    font-size: 15px;
    font-weight: 800;
}

nav .user-area a.user-profile span {
    background-color: #808080;
    display: inline-block;
    width: 25px;
    height: 25px;
    vertical-align: middle;
    border-radius: 50%;
    overflow: hidden;
  }

.main-menu li {
    padding-top: 10px;
}

ul.playlist-menu li {
    padding: 0.5rem 1.3rem;
}
